.ui.header {
  margin-top: 20px;
}
body{
  margin-left:auto
}

textarea {
  width: 400px !important; 

  margin-top: 20px !important; 
}

#tweetBtn {
  margin-left: 300px !important;
}

.messageItem {
  list-style-type: none;
  margin: 6px 0;
  background-color: lightblue;
  border: 1px solid black;
  padding: 2%;
}